{%- comment -%} lists all products {%- endcomment -%}

<!-- collections page -->


{% paginate collection.products by 2 %}
<div class="h-auto w-full pt-16 text-center mb-10">
  <h1 class="text-3xl font-semibold mb-4">{{ section.settings.collection_header }}</h1>
    <!-- <select name="sorting" id="sort_by" class="select select-bordered border border-8 border-black w-48 xsm:w-full max-w-xs rounded-md my-10 p-2">
      {% for option in collection.sort_options %}
        {% if option.name and option.value == "Featured" %}
          <option {% if option.value == collection.sort_by %} selected {% endif %} disabled="disabled" value="{{ option.value }}" selected="selected">{{ option.name }}</option> 
        {% else %}
          <option {% if option.value == collection.sort_by %} selected {% endif %}
          value="{{ option.value }}">{{ option.name }}</option>
        {% endif %}
      {% endfor %}
    </select>  -->
  <div id="listing-container " class="flex flex-wrap py-6 px-1 justify-around md:justify-center md:space-x-24">
    {% for product in collection.products %}
      <div class="bg-white shadow-md h-auto w-48 m-1 rounded-sm">
        <div class="overflow-hidden h-52 rounded-t-sm">
          {% if product.featured_image != blank %}
            <img src="{{ product.featured_image | img_url : 'large' }}" alt="{{ product.title }}" />
          {% else %}
            {{ "product-1" | placeholder_svg_tag }}
          {% endif %}
        </div>
        <div class="pt-2">
          <a href="{{ product.url }}"><span class="font-semibold">{{ product.title }}</span></a>
          <span class="border border-8 border-yellow-400 block w-auto rounded px-1 mx-3 my-2 font-semibold text-sm">{{ product.price | money_with_currency }}</span>
        </div>
      </div>
    {% endfor %}
  </div>  
  <!-- pagination -->
  <ul id="pagination" class="flex flex-row justify-center">
    {% if paginate.previous.is_link %}
      <li>
        <a href="{{ paginate.previous.url }}">
          <svg id="prev" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline pt-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
          </svg>
        </a>
        
      </li>
    {% endif %}
    {% for part in paginate.parts %}
      {% if part.is_link %}
        <a href="{{ part.url }}">
          <li id="page-value" class="py-1 px-2 border border-8 rounded border-black mx-2 hover:bg-black hover:text-white select-none">{{ part.title }}</li>
        </a>
      {% else %}
        <a href="{{ part.url }}">
          <li id="page-value" class="py-1 px-2 border border-8 rounded text-white bg-black border-black mx-2 hover:bg-black hover:text-white select-none">{{ part.title }}</li>
        </a>
      {% endif %}  
    {% endfor %}   
    {% if paginate.next.is_link %}
      <li>
        <a href="{{ paginate.next.url }}">
          <svg id="next" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline pt-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"/>
          </svg>
        </a>  
      </li>
    {% endif %}  
  </ul>
  <!-- pagination -->
</div>
{% endpaginate %}

{% schema %}
    {
        "name": "Collection Header",
        "class": "collection",
        "settings": [
            {
                "type": "text",
                "id": "collection_header",
                "label": "Collection Header Title",
                "default": "Out Products"

            }
        ],
        "blocks": [
            {
                "type": "@app"
            }
        ],
        "presets": [
            {
                "category": "Collection",
                "name":"collection"
            }
        ]
    }
{% endschema %}




<!-- 
{% paginate collection.products by 2 %}
  <h1>{{ collection.title }}</h1>
  {% for product in collection.products %}
    <div>
      <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      {{ product.price | money }}
      {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
      <a href="{{ product.url | within: collection }}">
        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
      </a>
    </div>
  {% else %}
    <p>no matches</p>
  {% endfor %}
  {% if paginate.pages > 1 %}
    {{ paginate | default_pagination }}
  {% endif %}
{% endpaginate %} -->
