<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

<!-- navigation -->

<nav class="h-14 flex justify-around items-center shadow-md overflow-hidden">

  <div class="-mx-16 xl:-mx-5 sm:mx-0 flex h-9 w-9">

    <a href="/">

      <img src="{{ section.settings.favicon | img_url: 'large' }}" alt="">

    </a>

  </div>

  <div class="space-x-16 invisible sm:visible">

    {% assign main-menu = linklists.main-menu.links %}

      {% for link in main-menu %}

        <a href="{{link.url}}">{{link.title}}</a>

      {% endfor %}

    

  </div>

  <div class="absolute visible sm:invisible inset-x-4">

    <div x-data="{open:false}" class="flex justify-start">

      <svg @click="open=!open" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">

        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />

      </svg>

      <!-- <div x-show="open" @click.away="open=false" class="self-start p-10 h-32 w-14 h-full flex flex-col translate-y-24 bg-green-500" x-transition:enter="" x-transition:leave="">

        <div>Home</div>

        <div>Services</div>

        <div>Contact-us</div>

      </div> -->

    </div>

  </div>

  <div class="sm:invisible visible mr-32 -translate-x-52 sm:-translate-x-16 mb-1 h-9 w-9">

    <a href="/">

      <img src="{{ section.settings.favicon | img_url: 'small' }}" alt="">

    </a>

  </div>

  <div class="space-x-9 sm:space-x-2">

    <a class="invisible sm:visible" href="">

      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">

        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />

      </svg>

    </a>

    <a class="relative -inset-y-3 sm:inset-y-0 inset-x-6" href="/cart">

      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 sm:inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">

        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />

      </svg>

    </a>

  </div>

</nav>
{% for block in section.blocks %}
  {% case block.type %}
    {% when '@app' %}
      {% render block %}
    ...
  {% endcase %}
{% endfor %}



<!-- navigation -->



{% schema %}

    {

        "name": "Navbar editor",

        "class": "nav-section",

        "settings": [

            {

                "type": "image_picker",

                "id": "favicon",

                "label": "Pick an Image for the Logo"

            }

        ],
        "blocks": [
            {
              "type": "@app"
            }
        ],

        "presets": [

            {

                "category": "Nav",

                "name":"simple_nav"

            }

        ]

    }

{% endschema %}











































<!-- {% for link in linklists.main-menu.links %}

    {% assign child_list_handle = link.title | handleize %}

    {% if linklists[child_list_handle].links != blank %}

      <a href="{{ link.url }}">{{ link.title }}</a>

      [{% for childlink in linklists[child_list_handle].links %}

        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>

      {% endfor %}]

    {% else %}

      <a href="{{ link.url }}">{{ link.title }}</a>

    {% endif %}

  {% endfor %} -->



  

  <!-- <a href="/cart">cart</a> -->





<!-- 

  {% if shop.customer_accounts_enabled %}

    {% if customer %}

      <a href="/account">account</a>

      {{ 'log out'  | customer_logout_link }}

    {% else %}

      {{ 'log in ' | customer_login_link }}

      {{ 'register' | customer_register_link }}

    {% endif %}

  {% endif %} -->

